* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: "Courier New", Courier, monospace;
}

:root {
  --dark-brown: #67595e;
  --light-brown: #a49393;
  --dusty-rose: #eed6d3;
  --rose: #e8b4b8;
}

main {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: var(--dusty-rose);
}

.container {
  display: flex;
  flex-direction: column;
  background: var(--rose);
  width: 500px;
  height: 600px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 20px;
  border-bottom: solid 2px black;
  margin-bottom: 5px;
  letter-spacing: 2px;
}

.input {
  display: flex;
  width: 300px;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}

.input input {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  border: none;
  outline: 0;
  font-size: 1.5rem;
  font-weight: bold;
  font: bold 1.5rem serif;
  text-align: center;
  letter-spacing: 1px;
}

.input label {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

button {
  width: 300px;
  height: 40px;
  font-size: 1.2rem;
  font-weight: bold;
  background: var(--light-brown);
  color: var(--dark-brown);
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 1px;
}

.result {
  display: flex;
  margin-top: 20px;
  align-items: center;
  width: 300px;
  height: 150px;
  border-radius: 5px;
  font-size: 1.5rem;
  font-style: italic;
  background: var(--dusty-rose);
  color: var(--dark-brown);
  padding: 20px;
  box-sizing: border-box;
  letter-spacing: 1px;
}
